body {
    width: 100vw;
    height: 100vh;
    background-image: url(background-3.jpeg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: 100vw;


}

.container {
    width: 40vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    text-align: center;
    font-size: 1.3rem;
    color: black;
}

button {
    width: 17vw;
    height: 3vh;
    border-radius: 10px;
    font-size: 1.3rem;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    color: black;
    width:20vw;
    height: 10vh;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    margin-top: 1rem;
}

button:hover {
    background-color: rgba(235, 177, 230,0.2);
}

.final-step,
.second-step {
    display: none;
}

input {

    border-radius: 5px;
    width: 10vw;
    height: 3vh;
    width: 15vw;
    border: none;
    outline: none;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.2);
    padding: 10px 20px;


}

#resultado {
    font-size: 2rem;
}